<body>
  <div class="main">
    <div class="main-container">
      <div class="splash-logo">
        <%= image_tag "budget-logo.png", alt: 'Brand logo' %>
      </div>
      <h1 class="splash-title">Welcome to my BudgetApp, made by Jose</h1>
      <div class="splash-login">
        <%= link_to "LOG IN", new_user_session_path %>
      </div>
      <div class="splash-signup">
        <%= link_to "SIGN UP", new_user_registration_path %>
      </div>
    </div>
  </div>  
<body>
