<body>
  <div class="main">
    <div class="main-container">
      <div class="splash-logo">
        <%= image_tag "https://res.cloudinary.com/dv1mouzbi/image/upload/v1700498963/devSources/Sin_ti%CC%81tulo_elsp2m.png", alt: 'Brand logo' %>
      </div>
       
        <div class="splash-login">
          <%= link_to "LOG IN", new_user_session_path %>
        </div>
        <div class="splash-signup">
          <%= link_to "SIGN UP", new_user_registration_path %>
        </div>
    </div>
  </div>  
<body>