body {
  max-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.1em;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #f5f6f8;
}

.splash-logo {
  display: flex;
  justify-content: center;
}

.splash-logo img {
  width: 100%;
  max-width: 300px;
  margin-top: 5%;
  margin-bottom: 30%;
}

.splash-login {
  background-color: #3778c2;
  display: flex;
  justify-content: center;
  width: 89%;
  padding: 2% 4%;
  box-sizing: border-box;
}

.splash-login a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.splash-signup {
  display: flex;
  justify-content: center;
  width: 89%;
  padding: 2% 4%;
  margin: 2% 2% 4% 2%;
  box-sizing: border-box;
}

.splash-signup a {
  color: #6e7277;
  font-size: 20px;
  text-decoration: none;
}
