.transaction-top-bar {
  width: 100%;
  background-color: #3778c2;
  padding: 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 1%;
  box-sizing: border-box;
}

.transaction-total {
  width: 100%;
  padding: 0.5% 1%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(185, 190, 194, 0.803);
  box-sizing: border-box;
}

.transaction-item {
  width: 100%;
  margin-bottom: 1%;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(177, 182, 186, 0.8);
  background-color: #fff;
  box-sizing: border-box;
}
